--extra-index-url https://download.pytorch.org/whl/cpu
torch
 
fastapi
uvicorn
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
pypdf
pymupdf
sentence-transformers
chromadb
python-dotenv
 